<!-- Nav bar for all pages -->

<nav id="nav-bar">
  <a id="brand" href="/">MAPPIN</a>
  <% if (loggedInUser) { %>
    <div id="logged-in">
      <a href="/map"><button id="createMap">Create New Map</button></a>
      <a href="/users/<%= loggedInUser %>"><button id="myMaps">My Maps</button></a>
      <div class="dropdown">
        <button class="dropbtn">Hello, <%= userName %> ▾</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="/logout">Logout</a>
        </div>
      </div>

    </div>
  <%} else {%>
    <div id="not-logged-in">
      <form action="/login" method="POST">
        <div>
          <label for="email">Enter Login:</label>
          <input class="login-form" type="text" name="email" placeholder="user@example.com">
          <input class="login-form" type="password" name="password" placeholder="password">
          <button type="submit">Login</button>
        </div>
      </form>
      <h2 style="color: white"> | </h2>
      <a href="/register"><button>Register</button></a>
    </div>
  <%}%>
</nav>


