<!-- Nav bar for all pages -->


<nav id="nav-bar">
  <span>MAPPIN</span>
    <% if (true) { %>
      <div>
        <button id="createMap">Create New Map</button>
        <button id="logout">View Maps</button>
        <button id="myMaps">My Maps</button>
        <button id="logout">Logout</button>
      </div>
    <%} else {%>
      <button id='login'>Register</button>
    <%}%>
</nav>


