<!-- _newPoint.ejs -->

<!-- Displays the form to create a new point -->
<form class="add-point" action="addpoint" method="POST">
  <h1><%= mapObj.title %></h1>
  <h2>Add a new point</h3>
  <h3>Select a spot on the map and then fill out this form! </h3>
  <div class="title">
    <label for="title">Title *</label>
    <input type="text" name="title" placeholder="Title" minlength="1" maxlength="254"required>
  </div>
  <div class="description">
    <label for="description">Description</label>
    <textarea rows="4"name="description" placeholder="Describe your point..."></textarea>
  </div>
  <div class="image">
    <label for="image">Add a URL with a photo of this location!</label>
    <input type="text" name="image" placeholder="http://" maxlength="254">
  </div>
  <div class="categories">
    <label for="category">Select a Category: *</label>
    <select name="keywords"required>
      <% for (let category of keywords) { %>
        <option value="<%= category.id %>"> <%= category.word %>
      <% } %>
    </select>
  </div>
  <div>
    <input type='hidden' id='lati' name='lati' value=''>
    <input type='hidden' id='longi' name='longi' value=''>
  </div>
  <div class="button">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>
