<!doctype html>
<html lang="en">
  <head>
    <title>MAPPIN</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Cabin:700&display=swap" rel="stylesheet">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/map.css">
    <link rel="stylesheet" href="/styles/nav.css"/>
    <link rel="stylesheet" href="/styles/new-map-form.css"/>
    <link rel="stylesheet" href="/styles/new-point.css"/>
    <link rel="stylesheet" href="/styles/map-view.css"/>

    <!-- Leaflet Script-->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

  </head>
  <body>
    <% include ./partials/_nav %>
    <main>
      <div class="main-map">
        <div class="sidebar">
          <% if (mapObj) { %>
              <input type='hidden' id='maplat'  name='maplat' value=<%= mapObj.center_lat %>>
              <input type='hidden' id='maplong'  name='maplong' value=<%= mapObj.center_long %>>
              <input type='hidden' id='mapzoom'  name='mapzoom' value=<%= mapObj.zoom %>>
            <% if (addPoint) { %>
              <% include ./partials/_newPoint %>
            <% } else if (editPoint) { %>
              <% include ./partials/_editPoint %>
            <% } else { %>
              <% include ./partials/_mapView %>
            <% } %>
          <% } else { %>
            <% include ./partials/_newMap %>
          <% } %>
        </div>
        <div id="mapid">
        </div>
      </div>
    </main>
  <script id="map-script" src='/scripts/map_leaflet.js'></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <% if(addPoint) { %>
    <script type="text/javascript" src="/scripts/add_point.js"></script>
  <% } %>
  <script type="text/javascript" src="/scripts/userDropdown.js"></script>
  </body>
</html>
