// _variables.scss

$primary-color: #DB9495;
$secondary-color: #C58586;
$background-color:  #f5ede0;
$dropdown-color: #e2d5c2;
$text-primary: #ffffff;
$text-secondary: black;
$text-title: #6D4A4A;
$border-color: rgb(180, 202, 194);
