// error404.scss

@import "partials/_variables.scss";

body {
  background-image: url('../images/worldbg.jpg');
  font-family: $main-font;

  .error{
    position: absolute;
    margin-left: 33vw;
    margin-top: 5vw;
    border-radius: 25px;
    border-width: 2px;
    padding:20px;
    border-style: solid;
    border-color: $border-color;
    background: $tile-background;
    box-shadow: $box-shadow;
    text-align: center;
    h1, #home {
      color: $text-title;
    }
  }
}
