$primary-color: #222f3e;
$secondary-color: #fce2e1;
$background-color: #c8d6e5;

body {
  background-color:$background-color;
  h1 {
    color: #244751;
  }
}

div.map-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

div.map-thumbnail {
  flex: 0 1 25%;
  background-image: url('../images/map.jpg');
  color: black;
  height: 300px;
  width: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin: 15px;
  border-radius: 25px;

  h1 {
    text-align: center;

    a{
      text-decoration: none;
      color: $primary-color;
    }

  }

  img {
    height: 150px;
    width: 150px;
  }
}
