// index.scss

@import "partials/_variables.scss";

body {
  background-image: url('../images/worldbg.jpg');
  font-family: $main-font;
  h1 {
    color: $text-title;
  }
}

div.map-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

div.map-thumbnail {
  height: 300px;
  width: 300px;

  display: flex;
  flex-direction: column;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 10px;

  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: $border-color;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: #00000033 0px 10px 25px 0px;

  overflow-wrap: break-word;
  word-break: break-word;

  h1 {
    text-align: center;
  }

  img {
    height: 10vw;
    width: 10vw;
  }

  .heart {
    background-color: $primary-color;
    border-radius: 50%;
    color:white;
    margin-left: 9vw;
    margin-top:8vw;
    margin-right:2vw;
    margin-bottom: 2vw;
    padding:8px;
    padding-bottom: 9px;
    padding-top: 9px;
    position: absolute;
  }

}

