// See: https://sass-lang.com/

body {
  margin: 0;
}
.main-map {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  height: 80vh;
  .sidebar {
    height: 100%;
    width: 25%;
    background-color: gray;
  }
  #mapid {
    height: 100%;
    min-height: 180px;
    width: 75%;
  }
}
