// See: https://sass-lang.com/

.main-map {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  .sidebar {
    height: 100%;
    width: 25%;
    background-color: gray;
  }
  #mapid {
    height: 100%;
    min-height: 180px;
    width: 75%;
  }
}
