// See: https://sass-lang.com/


$primary-color: #184549;
$secondary-color: #2e86de;
$background-color: lightgrey;
$text-primary: #ffffff;
$text-secondary: #545149;

body {
  margin: 0;
  background-color: $background-color;
}
.main-map {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  height: 80vh;
  .sidebar {
    height: 100%;
    width: 25%;
    background-color: $background-color;
  }
  #mapid {
    height: 100%;
    min-height: 180px;
    width: 75%;
  }
}

.new-map {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
