// new-point.scss

@import "partials/_variables.scss";

.add-point, .edit-point, .delete-point {
  padding: 5px;
  color: $text-title;
  h1 {
    margin: 3px;
  }
  h2 {
    margin: 3px;

  }
  h3 {
    margin: 3px;
  }
  .title{
    display: flex;
    flex-direction: column;
    margin: 3px;
    width: 100%;
    input {
      margin-right: 3px;
      border: transparent;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }
  .description {
    margin: 3px;
    textarea {
      width: 100%;
      border: transparent;
      border-radius: 5px;
      resize: none;
      &:focus {
        outline: none;
      }
    }
  }
  .image {
    margin: 3px;
    input {
      width: 100%;
      border: transparent;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }
  .categories{
    margin: 3px;
    select {
      border-color: transparent;
      background-size: contain;
      margin-bottom: 20px;
      height: 30px;
      width: 100%;
      color: $text-title;
      &:focus {
        outline: none;
      }
   }
  }
  .button {
    display: flex;
    justify-content: flex-end;
    button {
      background-color: $primary-color;
      color: $text-primary;
      font-family: $main-font;
      font-size: 15px;
      border-radius: 10px;
      height: 30px;
      margin-right: 10px;
      margin-bottom: 0px;
      padding: 5px;
      &:hover {
        background-color: $secondary-color;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
