// new-map-form.scss

@import "partials/_variables.scss";

.new-map {
  padding: 5px;
  display: flex;
  flex-flow: column wrap;
  h1 {
    align-content: center;
    color: $text-title;
    font-family: 'Cabin', sans-serif;
  }
  .new-title {
    display: flex;
    justify-content: flex-end;
    color: $text-title;
    margin: 3px;
    label {
      margin-right: 3px;
    }
    input {
      border: transparent;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }
  .new-description {
    display: flex;
    justify-content: flex-end;
    color: $text-title;
    margin: 3px;
    margin-top: 10px;
    textarea {
      border: transparent;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }
  .new-cat {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    color: $text-title;
    margin: 5px;
    margin-top: 10px;
    div {
      margin-top: 5px;
      flex-direction: row;
      align-items: center;
      input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: 2px solid $text-title;
        transition: 0.2s all linear;
        margin-right: 5px;
        position: relative;
        &:checked {
          border: 6px solid $secondary-color;
        }
        &:focus {
          outline: none;
        }
      }
      input[type=radio]:checked ~ label{
        color: $secondary-color;
      }
    }
  }
  button {
    background-color: $text-title;
    color: $text-primary;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    height: 30px;
    width: 60px;
    margin: 10px;
    margin-left: 80%;
    padding: 5px;
    &:hover {
      background-color: $primary-color;
    }
  }
  label {
    margin-right: 3px;
  }
}
