// new-point.scss

@import "partials/_variables.scss";

.add-point {
  h1 {
    margin: 5px;
    color: $secondary-color;
  }
  h2 {
    margin: 5px;
    color: $secondary-color;
  }
  h3 {
    margin: 5px;
    color: $secondary-color;
  }

}
