// new-point.scss

@import "partials/_variables.scss";

.add-point, .edit-point, .delete-point {
  color: $text-title;
  h1 {
    margin: 5px;
    margin-left: 10px;
  }
  h2 {
    margin: 5px;
    margin-left: 10px;
  }
  h3 {
    margin: 5px;
    margin-left: 10px;
  }
  .title{
    margin: 5px;
    margin-left: 10px;
    input {
      border: transparent;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }
  .description {
    margin: 5px;
    margin-left: 10px;
    textarea {
      border: transparent;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }
  .image {
    margin: 5px;
    margin-left: 10px;
    input {
      border: transparent;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }
  .categories{
    margin: 5px;
    margin-left: 10px;
    select {
      border-color: transparent;
      background-size: contain;
      height: 30px;
      width: 270px;
      color: $text-title;
      &:focus {
        outline: none;
      }
   }
  }
  button {
    background-color: $primary-color;
    color: $text-primary;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    height: 30px;
    margin: 10px;
    margin-bottom: 0px;
    padding: 5px;
    &:hover {
      background-color: $secondary-color;
    }
  }
}
