// users.scss

@import "partials/_variables.scss";

body {
  background-color: $background-color;
  h1 {
    color: $text-title;
    padding: 10px;
  }
  h3 {
    color: $text-title;
    padding: 10px;
  }
}

.made, .favourited, .contributed {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: auto;

  span {
    margin-left: 50px;
    background-image: url('../images/map.jpg');
    color: black;
    height: 200px;
    width: 200px;
    background-size: 200px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: $border-color;



    a{
      text-align: center;
      text-decoration: none;
      color: $text-title;
      font-weight: bold;
    }
    img {
      height: 110px;
      width: 110px;

      justify-items: center;
      }

  }


}
