// users.scss

@import "partials/_variables.scss";

body {
  background-color: #EEE;
  h1 {
    color: #244751;
  }
  h3 {
    color: #244751;
  }
}

.made, .favourited, .contributed {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // flex-wrap: wrap;
  overflow-x: auto;

  span {
    margin-left: 50px;
    background-image: url('../images/map.jpg');
    color: black;
    height: 200px;
    width: 200px;
    background-size: 200px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    a{
      text-align: center;
      text-decoration: none;
      color: #244751;
      font-weight: bold;
    }
    img {
      height: 110px;
      width: 110px;

      justify-items: center;
      }

  }


}
